    
:root {
  --bg-dark: #262626;
  --bg-dark-gray: #3A3A3A;
  --bg-dark-ground: #3E3E3E;
  --bg-dark-gray-shine: #828282;
  --bg-dark-f: #4F4F4F;
  --bg-ciano: #0CEEC3;
  --color-white: #fff;
  --color-ciano: #0CEEC3;
  --arial: Arial;
}

body {
  background-color: var(--bg-dark);
}
/*--- /perfil ---*/
.img-perfil {
  width: 150px;
  height: 150px;
  margin-top: -4.4rem;
  border-radius: 50%;
}
.format-p {
  margin-top: 5rem;
  border-radius: 11px;
  font-family: var(arial);
  background-color: var(--bg-dark-gray);
  box-shadow: 0px 2px 50px var(--bg-dark-ground);
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}

.format-p p {
  text-shadow: 1px 4px 5px var(--bg-dark);
  border-radius: 11px;
  padding: 2rem;
}
.format-p b {
  text-shadow: 1px 4px 5px var(--bg-dark);
  font-family: Gulim;
  font-size: 3rem;
  display: grid;
}
/*--- /perfil ---*/
/*--- cards-btstrp ---*/
.card {
  border: 0;
  border-radius: 11px;
  background-color: transparent;
}
.card-body {
  border-radius: 0 0 11px 11px;
  background-color: var(--bg-dark-gray);
  color: var(--color-white);
}
/*--- /cards-btstrp ---*/
/*--- buttons ---*/
.bt {
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--format-p1);
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
}

.bt-ciano {
  padding: 0.775rem 2.975rem;
  border: 2px solid var(--color-ciano);
  border-radius: 9px;
}
.bt-ciano:hover {
  color: var(--color-white);
  text-shadow: 1px 1px 2px #333;
}
/*--- /buttons ----*/
/*
.flex-desktop::-webkit-scrollbar {
  display: none;
}
.flex-desktop::-webkit-scrollbar {
  width: 0;
  height: 0;
}
*/
/*--- respn ---*/
/*
margin: top | right | bottom | left|;
margin: top | left and right | bottom;
*/
.bt2 {
  margin: 1rem 1.5rem 1rem;
}
@media (max-width:  992px) {/* p */
  .mb1 {
    margin-bottom: .9rem;
  }
  .btr {
    margin: 0 1.5rem;
  }
  .btv {
    margin: 0 1.5rem;
  }
  .bt2 {
    display: none;
  }
  .bt {
    min-width: 100%;
  }
  .format-p {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .painel-p {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 993px) {/* g  */
  .btv {
    display: none;
  }
  .bt1 {
    display: none;
  }
  .bt-ciano {
    width: 300px;
  }
  .ctnr {
    margin-right: 0;
    margin-left: 2rem;
  }
  .painel-p {
    display: flex;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}
/*--- /respn ---*/
/*--- slider ---*/
.flickity-page-dots {
  display: none;
}
.carousel-cell img {
  border-radius: 9px 9px 0 0;
  margin-right: 1.5rem;
}
@media (max-width:  992px) {
  .mtr {
    margin: 1.5rem 1.5rem;
  }
  .carousel-cell {
    min-width: 100% !important;
    margin-right: 1.5rem;
  }
  .carousel-cell img {
    width: 100%;
  }
  
}
@media (min-width:  993px) {
  .mtr {
    margin: .5rem 1.5rem;
  }
  .carousel-cell img {
    width: 300px;
/*    min-height: 300px;*/
  }
  .carousel-cell div {
      max-width: 300px;
      min-height: 100%;
  }
}

/*--- /slider ---*/
